[Unit]
Description=MLflow Server
After=network.target

[Service]
User=azureuser   # Replace with the username that runs the server
Group=azureuser
WorkingDirectory=/home/azureuser/mlflow_server  # Replace with your MLflow project directory
ExecStart=/home/azureuser/mlflow_server/script/start_mlflow.sh
Restart=always

[Install]
WantedBy=multi-user.target
